div {
    width: 15vw;
    background-color: #8393b4;
    height: 100vh;

    ul {
        margin: 0;
        padding-top: 10vh;
        list-style-type: none;
        li { 
            margin-bottom: 4vh;
            text-decoration: none;
            color: rgb(237, 237, 245);
            font-size: 1.5em;
            width: 70%;
            background-color: rgb(50, 50, 75);
            padding: 5px;
            border-radius: 3px;
        }

        li:hover {
            color: rgb(50, 50, 75);
            background-color: rgb(237, 237, 245);;
            cursor: pointer;
        }
    }
}